#thefile {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
  }
  
  #canvas {
    position: fixed;
    left: 0;
    top: 50;
    width: 100%;
    height: 70%;
    fill: #fff;
  }
  
  audio {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
  }
